[Unit]
Description=Unattended upgrade for archlinux
After=network-online.target

[Service]
User=root
Type=simple
ExecStart=/usr/bin/systemd-inhibit --who="pacroller" --why="Running unattended upgrade" --what="shutdown:sleep:idle:handle-lid-switch" /usr/bin/pacroller run
SyslogIdentifier=pacroller
